<div class="crayons-card">
  <div class="crayons-card__body">
    <h3><%= cta_text %></h3>
    <button id="email-signup-btn" class="crayons-btn">Share your email address</button>
    <div id="email-signup-status"></div>
  </div>
</div>
