<div class="ltag__email_signup_box">
  <div calss="ltag__email_signup__content">"
    <h2><%= cta_text %></h2>
    <button id="email-signup-btn" class="crayons-btn">Share your email address</button>
  </div>
</div>
